<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./css/main.css" type="text/css" rel="stylesheet">
    <title>Assignment - 3</title>
</head>
<body class="container">
    <div id="header">
        <div>
            <h1>Classmate Recommender</h1>
            <h2>Who are you most similar to in our class?</h2>

        </div>


    </div>
    <div id="content">
        <div id="feature">
            <p>User Info</p>
            <label for="name" class="title">Name:</label>
            <input type="text" name="studentName" required="required" />
            <br /><br />
            <span class="title">Gender:</span>
            <input type="radio" name="gender" id="male" value="M" />
            <label for="male">M</label>
            <input type="radio" name="gender" id="female" value="F" />
            <label for="female">F</label><br />
            <br />
            <input type="submit" value="Register" id="submit" />
        </div>
        <div class="article column1">
            <br />
            <p>Choose an Artist</p>
            <select artistName="artist">
                <option value="a1">Artist 1</option>
                <option value="a2">Artist 2</option>
                <option value="a3">Artist 3</option>
                <option value="a4">Artist 4</option>
            </select>
            <br />
        </div>
        <div class="article column2">
            <br />
            <p>Choose a Song</p>
            <select name="Song">
                <option value="s1">Song 1</option>
                <option value="s2">Song 2</option>
                <option value="s3">Song 3</option>
                <option value="s4">Song 4</option>
            </select>
            <br />
        </div>
        <div class="article column3">
            <br />
            <p>Choose a Genre</p>
            <select name="genre">
                <option value="g1">Hip Hop</option>
                <option value="g2">Raggae</option>
                <option value="g3">Country</option>
                <option value="g4">Rock</option>
                <option value="g5">Pop</option>
            </select>
            <br />
        </div>
        <div class="article column4">
            <br />
            <p>Choose Food</p>
            <select name="genre">
                <option value="g1">Hip Hop</option>
                <option value="g2">Raggae</option>
                <option value="g3">Country</option>
                <option value="g4">Rock</option>
                <option value="g5">Pop</option>
            </select>
            <br />
        </div>
    </div>
    <div id="footer">
        <p class="p-footer">&copy; Copyright 2019</p>
        <ul class="p-footer">
            <li><a href="index.html">Home</a></li>
            <li><a href="result.html">Result</a></li>
            <li><a href="http://www.usf.edu">USF</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="projectplan.html">Project Plan</a></li>
        </ul>

    </div>
</body>
</html>