<!DOCTYPE html>
<html>
<head>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./css/main.css" type="text/css" rel="stylesheet">
    <title>Assignment - 3 Project Plan</title>
</head>



<body>
    <div id="header">
        <div>
            <h1>Project Plan</h1>
            <h1>
                <img src="./img/ActivityDiagram.PNG" />

            </h1>

            <table>
                <tr>
                    <th>1</th>
                    <th>Collect Classmate data, name, email</th>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Create unique token for each classmate</td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Have classmate use the token to fill out the questionnaire</td>

                </tr>
                <tr>
                    <td>4</td>
                    <td>Analyze data</td>

                </tr>
                <tr>
                    <td>5</td>
                    <td>Email the results to the classmate</td>

                </tr>

            </table>


        </div>



        <div id="footer">
            <p class="p-footer">&copy; Copyright 2019</p>
            <ul class="p-footer">
                <li><a href="index.html">Home</a></li>
                <li><a href="result.html">Result</a></li>
                <li><a href="http://www.usf.edu">USF</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="projectplan.html">Project Plan</a></li>
            </ul>

        </div>
</body>

</html>